
.dropdown-menu{
    background-color: black;
    margin-top: 0px;
    margin-left: 200px;
    border: none;
    border-radius: 0px;
}

.dropdown-item{
    color: white;
    width: 200px;
    margin: 0px 10px 0px 10px;
}

.dropdown-item:active{
    background-color: #ffc107;
}

.image-one{
    position: relative;
    margin-left: 25%;
    margin-right: 25%;
    width: 530px;
}

.image-label{
    position: absolute;
    bottom: 0px;
    right: 0px;
    color: white;
    background-color: #AAA939;
    padding: 8px;
    width: 100px;
    text-align: center;
    border-radius: 7px 0px 0px 0px;
}

h2{
    margin-bottom: 30px;
}

h3{
    margin-top: 40px;
}

p{
    text-align: justify;
}

.container{
    width: 80%;
}

footer{
    background-color: black;
    text-decoration: none;
    padding: 20px;
    color: white;
    font-weight: bolder;
}

.foot-item{
    margin-left: 20px;
    color: white;
    font-weight: bolder;
}

footer :hover{
    color: cornsilk;
}

@media (max-width: 768px){
    .dropdown-menu{
        margin-right: 450px;
        margin-left: 0px;
        border: none;
    }
}

@media (max-width: 563px){
    img{
        width: 400px;
    }
}

@media (max-width: 785px){
    .image-one{
        position: relative;
        margin-left: 0px;
        margin-right: 0px;
        width: auto;
    }
    .container{
        width: 100%;
    }
    h2{
        font-size: 25px;
    }
    h3{
        font-size: 20px;
    }
}